<!DOCTYPE html>
<html lang="en" xmlns:th="https:\\www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Search</title>
</head>
<body th:object="${contact}">
    
    <h1>Your contact information</h1>
    <p>Name:</p>
    <p th:text="${contact.name}">..</p>
    <br />
    <p>Email:</p>
    <p th:text="${contact.emailAddress}">..</p>
    <br />
    <p>
      Phone number:
      <p th:text="${contact.contactNumber}">..</p>
    </p>
    
</body>
</html>